ODOO_URL=https://your-odoo-instance.odoo.com
ODOO_DB=your_database
ODOO_USER_ID=208
ODOO_API_KEY=your_api_key
DEFAULT_PROJECT_ID=1035
PORT=5056
DEBUG=0
DASHBOARD_USERNAME=your_dashboard_username
DASHBOARD_PASSWORD=your_dashboard_password
SECRET_KEY=your_flask_secret_key